{% extends '_base.html' %}

{% load static %}

{% block content %}
    
    <section class="category_list py-4">
        <div class="main-wrapper">
            
            <div class="category-list-contain flex flex-wrap flex-row gap-4">


                {% for c_item in categories_list %}
                    <a href="{% url 'auction:category_item_url' slug=c_item.slug %}" class="category-item">
                        <div class="category-item-image">
                            <img src="/{{ c_item.image }}" alt="">
                        </div>
                        <div class="category-item-text {% cycle 'bg-mavi_5' 'bg-green-700' 'bg-turuncu' 'bg-purple-700' %}">
                            <div class="texts">
                                <h3>{{ c_item.name }}</h3>
                                <p>{{ c_item.auction_count }} auctions</p>
                            </div>
                            <div id="round-redirect-button">
                                <i class="fas fa-arrow-circle-right text-2xl text-beyaz-0"></i>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                
                

            </div>

        </div>
    </section>

{% endblock %}