//@at-root
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@layer base {
    html {
        @apply font-sans;
    }
}

section#login-form-section {
    @apply w-full h-full flex justify-center items-center;

    // login main form container
    #form-container {
        @apply grid grid-cols-2 border rounded-2xl border-beyaz-5 gap-4;
        width: 60%;

        // Left panel and register campain
        #login-left-panel,
        #register-campain {
            @apply p-10;
        }

        // Login form
        #login-left-panel {



            #login-register-switch{
                @apply flex flex-row bg-beyaz-10 rounded-xl;
                padding: 2px;

                a{
                    flex: 1 1 50%;
                    font-size: 14px;
                    text-align: center;
                    padding: 1rem 0;
                    border-radius: 10px;
                    color: theme("colors.siyah.20");
                    font-weight: 500;


                    &.active{
                        background-color: theme("colors.beyaz.0");
                    }


                    &:not(.active){
                        color: theme("colors.siyah.5");
                        font-weight: 400;

                        &:hover{
                            color: theme("colors.siyah.15");
                        }
                    }
                }
            }


        }

        // Register campain
        #register-campain {
            @apply bg-beyaz-5;

            #campain-title {
                h3 {
                    @apply text-siyah-20 text-base font-semibold mb-4;
                }

                p {
                    @apply text-sm text-siyah-20 font-light;
                }
            }

            #campain-column {
                #campain-item {
                    #campain-logo {
                        min-width: 84px;
                        height: 84px;
                        border-radius: 50%;
                        border: 2px solid inherit;
                    }
                }
            }
        }
    }
}

// Global components

.logo-attr {
    position: relative;

    &::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 200;
        content: attr(logo-attr);

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        font-size: inherit;
        color: inherit;
        
    }
}



#auth-input-section{
    
    input{
        @apply focus:outline-main_mavi;
        width: 100%;
        background-color: theme("colors.beyaz.5");
        padding: 1rem;
        border-radius: 8px;
        color: theme("colors.siyah.20");


        &::placeholder{
            color: theme("colors.beyaz.20");
        }
    }

}

#auth-button-section{

    button{
        @apply bg-mavi w-full py-4 rounded-lg text-beyaz-0 font-medium;
    }

}