//@at-root
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@layer base {
    html {
        @apply font-sans;
    }
}

section#login-form-section {
    @apply w-full h-full flex justify-center items-center;

    // login main form container
    #form-container {
        @apply grid grid-cols-2 border rounded-2xl border-beyaz-5 gap-4;
        width: 60%;

        // Left panel and register campain
        #login-left-panel,
        #register-campain {
            @apply p-10;
        }

        // Login form
        #login-left-panel {



            #login-register-switch{
                @apply flex flex-row bg-beyaz-10 rounded-xl;
                padding: 2px;

                a{
                    flex: 1 1 50%;
                    font-size: 14px;
                    text-align: center;
                    padding: 1rem 0;
                    border-radius: 10px;
                    color: theme("colors.siyah.20");
                    font-weight: 500;


                    &.active{
                        background-color: theme("colors.beyaz.0");
                    }


                    &:not(.active){
                        color: theme("colors.siyah.5");
                        font-weight: 400;

                        &:hover{
                            color: theme("colors.siyah.15");
                        }
                    }
                }
            }


        }

        // Register campain
        #register-campain {
            @apply bg-beyaz-5;

            #campain-title {
                h3 {
                    @apply text-siyah-20 text-base font-semibold mb-4;
                }

                p {
                    @apply text-sm text-siyah-20 font-light;
                }
            }

            #campain-column {
                #campain-item {
                    #campain-logo {
                        min-width: 84px;
                        height: 84px;
                        border-radius: 50%;
                        border: 2px solid inherit;
                    }
                }
            }
        }
    }
}

// Global components

.logo-attr {
    position: relative;

    &::after {
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: 200;
        content: attr(logo-attr);

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        font-size: inherit;
        color: inherit;
        
    }
}



#auth-input-section{
    
    input{
        @apply focus:outline-main_mavi;
        width: 100%;
        background-color: theme("colors.beyaz.5");
        padding: 1rem;
        border-radius: 8px;
        color: theme("colors.siyah.20");


        &::placeholder{
            color: theme("colors.beyaz.20");
        }
    }

}

#auth-button-section{

    button{
        @apply bg-mavi w-full py-4 rounded-lg text-beyaz-0 font-medium;
    }

}







//index page css


// Header section

.main-wrapper{
    max-width: 70%;
    @apply mx-auto;
}


#search-section{
    flex: 1 1 60%;
    text-align: center;
}

#site-logo{
    flex: 1 1 15%;
}



#search-section{
    display: flex;
    flex-direction: row;

    #input-section{
        flex: 1 1;
        input#search__input{
            width: 100%;
            background-color: theme('colors.beyaz.10');
            font-size: 18px;
            line-height: 1.5;
            padding: 14px 102px;
            border-radius: 16px 0 0 16px;


            &::placeholder{
                color: theme('colors.beyaz.15');
            }
        }

        &.before-logo{
            position: relative;

            //search icon
            &::before{
                position: absolute;
                font-family: "Font Awesome 5 Free";
                font-weight: 200;
                content: "\f002";
                font-size: 20px;
                color: theme("colors.siyah.10");
                left: 36px;
                top: 50%;
                transform: translateY(-50%)
            }
        }
    }


    #button-section{
        button{
            font-size: 18px;
            line-height: 1.5;
            padding: 14px 28px;
            border-radius: 0 16px 16px 0;
            background-color: theme("colors.mavi");
            span{
                @apply text-beyaz-0;
            }
        }
    }

}


#user-section{
    flex: 1 1 25%;

    #user-section-icon{
        background-color: theme("colors.beyaz.5");
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin-right: 16px;
        i{
            font-size: 28px;
            color: theme("colors.siyah.20");
        }


    }

    #user-section-text{
        color: theme("colors.beyaz.20");

        a{
            color:  theme("colors.siyah.20")
        }
    }

    #user-section-icon-base{
        @apply inline-flex justify-center items-center text-center;
    }
}



#category-list-wrap{
    @apply py-2;
    #category-list-item{
        @apply px-4 py-2;
        position: relative;
        flex: 1 1 auto;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        color: theme("colors.siyah.10");


        & {
            border-left: 1.4px solid theme("colors.siyah.5");
        }


        &:first-child{
            text-align: left;
            border: none;
        }
        
        &:last-child{
            text-align: right;
        }
    }
}


#start-selling-items{
    @apply bg-mavi flex flex-row items-center px-7;
    gap: 1rem;

    h2{
        font-size: 18px;
        color: theme("colors.beyaz.0");
        flex: 1 1 20%;
    }

    #campain-image{
        width: 100%;
        transform: skew(-30deg);


        height: 74px;
        flex: 1 1 30%;
        overflow: hidden;


        &::after{
            position: absolute;
            content: "";

            background-image: url("../img/nike_shoes.jpg");
            background-position: center;
            background-size: cover;
            left: -30px;
            
            width: 110%;
            height: 110%;
            transform: skew(30deg);
        }
    }

    #round-redirect-button{
        margin: 0 2rem;
    }
}




.category-item{
    flex: 0 1 24%;
    border-radius: 16px;
    background-image: linear-gradient(to bottom, theme("colors.beyaz.25"), theme("colors.beyaz.0"));
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;

    .category-item-image{
        width: 100%;
        padding: 2rem 0;
        display: flex;
        justify-content: center;

        img{
            width: 60%;
            height: auto;
            transform: rotate(30deg);
            transition: all 0.3s ease-in-out;
        }
    }

    .category-item-text{
        background-color: theme("colors.mor");
        margin-top: auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: all 0.3s ease-in-out;

        h3,p{
            color: theme("colors.beyaz.0");
            text-align: center;
        }
    }

    &:hover{
        .category-item-text{
            gap: 2rem;
            background-color: theme("colors.mavi");
        }

        .category-item-image img{
            transform: scale(1.1) rotate(30deg);
        }
    }

}

.auction-item{
    flex: 0 1 24%;
    border-radius: 16px;
    padding: 10px 0;
    // background-image: linear-gradient(to bottom, theme("colors.beyaz.25"), theme("colors.beyaz.0"));
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    border: .6px solid theme("colors.beyaz.10");
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);


    .auction-title{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: theme("colors.siyah.10");
    }

    img{
        width: 100%;
        height: auto;
        margin: 1rem 0;
    }

    .auction-rate{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 16px;

        .star-list{
            display: flex;
            flex-direction: row;

            .fa-star{
                color: theme("colors.sari");
            }

            .fa-star.far{
                color: theme("colors.beyaz.35");
            }

            p{
                font-size: 14px;
                color: theme("colors.siyah.10");
            }
        }

        
    }

    .auction-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        padding: 1rem;
        position: relative;

        .auction-price, .auction-time{
            font-size: 24px;
            color: theme("colors.siyah.10");
            font-weight: 600;
        }

        .auction-time{
            color: theme("colors.sari");
        }

        .join-auction-button{
            position: absolute;
            background-color: theme("colors.beyaz.0");
            height: calc(100% + 10px);
            width: 100%;
            left: 0;
            top: 0;
            transform: translateY(1000px);
            display: flex;
            justify-content: center;
            align-items: center;

            @apply transition-transform;

            a{
                padding: .5rem 2rem;
                background-color: theme("colors.sari");
                border-radius: 4px;
                color: theme("colors.beyaz.0");
                font-size: 18px;
                font-weight: 500;
            }
        }

        
    }

    &:hover{
        .join-auction-button{
            transform: translateY(0);
        }
    }
}

.container-x{
    padding: 18px 24px;
}