{% extends '_base.html' %}

{% load static %}

{% block content %}

    <article id="main-article" class="bg-beyaz-5 py-4">

        <div class="edit-profile main-wrapper">
            
            <div class="edit-links">
                <div class="profile-data-img">
                    <div class="img_circle">
                        <img src="/{{ request.user.profile.profile_picture }}" alt="">
                    </div>
                </div>

                <div class="edit-links-nav mt-6">
                    <a class="{% if data.type == "profile_settings" %}active{% endif %}" href="?b=home">
                        <i class="far fa-home"></i>
                        <span>Profile Settings</span>
                    </a>
                    <a class="{% if data.type == "password_settings" %}active{% endif %}" href="?b=pass">
                        <i class="far fa-lock"></i>
                        <span>Password Settings</span>
                    </a>
                    <a class="{% if data.type == "bid_list" %}active{% endif %}" href="?b=bids">
                        <i class="far fa-plus"></i>
                        <span>Bids</span>
                    </a>
                    <a class="" href="{% url 'user:user_tc_url' %}">
                        <i class="far fa-plus"></i>
                        <span>Validate TC</span>
                    </a>
                    <a class="" href="{% url 'user:user_mobile_url' %}">
                        <i class="far fa-plus"></i>
                        <span>Validate Mobile</span>
                    </a>
                    <a href="{% url 'user:user_self_profile_url' %}">
                        <i class="far fa-user"></i>
                        <span>Your Profile</span>
                    </a>
                </div>
            </div>
            <div class="edit-body flex-grow flex-shrink">
                <div class="contain-title border-b border-beyaz-20">
                    <h2 class="p-4 text-lg font-medium text-siyah-15">Change your Profile</h2>
                </div>

                <div class="messages px-6 py-4">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}

                                <div onclick="this.parentNode.removeChild(this)" class="django-messages {% if message.tags %} {{message.tags}} {%endif%}" role="alert">
                                    <span>{{ message|escape }}</span>

                                    
                                </div>

                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="profile-edit-contain">
                    {% if data.type == "profile_settings" %}
                    <form action="#" method="post" enctype="multipart/form-data">
                        
                        <div class="input-list">
                            {% csrf_token %}
                            <div class="input_container half">
                                <label for="{{data.u_form.first_name.id_for_label }}">{{data.u_form.first_name.label}}</label>
                                {{data.u_form.first_name}}
                                {% if data.u_form.first_name.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.u_form.first_name.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container half">
                                <label for="{{data.u_form.last_name.id_for_label }}">{{data.u_form.last_name.label}}</label>
                                {{data.u_form.last_name}}
                                {% if data.u_form.last_name.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.u_form.last_name.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container half">
                                <label for="{{data.p_form.profile_picture.id_for_label }}">{{data.p_form.profile_picture.label}}</label>
                                {{data.p_form.profile_picture}}
                                {% if data.p_form.profile_picture.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.profile_picture.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container half">
                                <label for="{{data.p_form.birthday.id_for_label }}">{{data.p_form.birthday.label}}</label>
                                {{data.p_form.birthday}}
                                {% if data.p_form.birthday.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.birthday.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container half">
                                <label for="{{data.p_form.address.id_for_label }}">{{data.p_form.address.label}}</label>
                                {{data.p_form.address}}
                                {% if data.p_form.address.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.address.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container half">
                                <label for="{{data.p_form.user_details.id_for_label }}">{{data.p_form.user_details.label}}</label>
                                {{data.p_form.user_details}}
                                {% if data.p_form.user_details.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.user_details.errors.as_text}}</span>{% endif %}
                            </div>
                            
                        </div>
                        <div class="button-list">
                            <button id="save_profile_button" class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 font-medium rounded-md">Save</button>
                            <button class="bg-red-100 border border-red-500 text-red-700 px-4 py-3 font-medium rounded-md" type="reset">Cancel</button>
                        </div>


                    </form>
                    
                    {% elif data.type == "password_settings" %}
                    <form action="#" method="post">
                        
                        <div class="input-list">
                            {% csrf_token %}
                            <div class="input_container full">
                                <label for="{{data.p_form.old_password.id_for_label }}">{{data.p_form.old_password.label}}</label>
                                {{data.p_form.old_password}}
                                {% if data.p_form.old_password.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.old_password.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container full">
                                <label for="{{data.p_form.new_password1.id_for_label }}">{{data.p_form.new_password1.label}}</label>
                                {{data.p_form.new_password1}}
                                {% if data.p_form.new_password1.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.new_password1.errors.as_text}}</span>{% endif %}
                            </div>

                            <div class="input_container full">
                                <label for="{{data.p_form.new_password2.id_for_label }}">{{data.p_form.new_password2.label}}</label>
                                {{data.p_form.new_password2}}
                                {% if data.p_form.new_password2.errors %}<span class="pl-2 text-red-500 text-sm"> -{{data.p_form.new_password2.errors.as_text}}</span>{% endif %}
                            </div>
                            
                        </div>
                        <div class="button-list">
                            <button id="save_profile_button" class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 font-medium rounded-md">Save</button>
                            <button class="bg-red-100 border border-red-500 text-red-700 px-4 py-3 font-medium rounded-md" type="reset">Cancel</button>
                        </div>


                    </form>
                    {% elif data.type == "bid_list" %}
                    <div class="user_block_content">
                        <div class="auction-details">
                            <div class="auction-detail-data">
                                <div class="table_item grid grid-cols-4 font-medium mb-2">
                                    <div>Bid Date</div>
                                    <div>Bid Amouth</div>
                                    <div>Auction</div>
                                    <div>Delete Bid</div>
                                </div>
                    
                                {% for z in data.bids_list %}
                                    <div class="table_item grid grid-cols-4 py-3 px-1">
                                        <div>{{z.bid_date}}</div>
                                        <div>{{z.bid_amount}}£</div>
                                        <a target="_blank" rel="noopener noreferrer" href="{% url 'auction:auction_item_url' slug=z.auction.slug %}">Check Auction</a>
                                        <a href="{% url 'auction:auction_delete_bid_url' id=z.pk %}">Delete Bid</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>


            </div>

        </div>

    </article>

{% endblock %}