{% extends '_base.html' %}

{% load static %}

{% block content %}

    <article id="main-article" class="bg-beyaz-5 py-4">

        <!-- Start selling your items campain -->
        <section id="user-profile" class="main-wrapper rounded-2xl shadow overflow-hidden">
            
            <div class="user-container-bg">
                <div class="bg-img" style="--bg_img:url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg')"></div>
            </div>

            <div class="profile-content">

                <div class="profile-nav">

                    <div class="profile-data">

                        <div class="profile-data-img">
                            <div class="img_circle">
                                <img src="/{{ profile.profile_picture }}" alt="profile-img">
                            </div>
                        </div>
                        
                        <div class="profile-navigation">
                            
                            <div class="profile-data-bio px-6">

                                <h1 class="font-medium text-2xl text-siyah-15 uppercase">{{ profile.get_full_name }}</h1>
                                <span class="font-light text-base text-beyaz-20">{{ profile.user }}</span>

                                <div class="user-rate-contain my-4">
                                    <div class="user-rate">
                                        <span>{{ profile.calc_rate_round }}</span>
                                        {% with ''|center:5 as range %}
                                            {% for _ in range %}
                                                
                                                {% if forloop.counter <= profile.calc_rate_floor %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                                
                                            {% endfor %}
                                        {% endwith %}
                                    </div>
                                </div>

                                <p class="font-light text-sm text-beyaz-20 text-justify">{{ profile.user_details }}</p>

                            </div>

                            <hr class="mx-5 my-4">

                            <div class="user-navigation-categories">
                                
                                <a href="?b=auctions" class="nav-category-item {% if block_content.object == 'auctions' %}active{% endif %}">
                                    <i class="fas fa-gavel"></i>
                                    <span id="nav-category-item-id">Auctions</span>
                                    <span id="nav-category-item-count">{{ profile.user_total_auction }}</span>
                                </a>

                                <a href="?b=buys" class="nav-category-item {% if block_content.object == 'buys' %}active{% endif %}">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span id="nav-category-item-id">Buys</span>
                                    <span id="nav-category-item-count">2</span>
                                </a>
                                <a href="?b=bids" class="nav-category-item {% if block_content.object == 'bids' %}active{% endif %}">
                                    <i class="fas fa-wallet"></i>
                                    <span id="nav-category-item-id">Bids</span>
                                    <span id="nav-category-item-count">{{ profile.user_total_bid }}</span>
                                </a>
                                <a  href="?b=comments"class="nav-category-item {% if block_content.object == 'comments' %}active{% endif %}">
                                    <i class="fas fa-comment-dots"></i>
                                    <span id="nav-category-item-id">Comments</span>
                                    <span id="nav-category-item-count">{{ profile.user_total_comment }}</span>
                                </a>

                            </div>

                            {% if user.is_authenticated and profile.user == user %}
                                <a href="edit" class="edit_profile_btn py-2 w-full bg-mavi bg-opacity-80 block text-beyaz-0 text-center hover:bg-opacity-100">Edit Profile</a>
                                <a href="/logout" class="edit_profile_btn py-2 mt-2 w-full bg-purple-700 bg-opacity-80 block text-beyaz-0 text-center hover:bg-opacity-100">Logout</a>
                            {% endif %}

                            

                        </div>

                    </div>
                    

                </div>
                <div class="profile-content-body">

                    <div class="profile-content-title">
                        <h2>{{ profile.get_full_name }} - Auctions</h2>
                    </div>

                    {% comment %} {% include 'user/profile_block.html' with content=block_content %} {% endcomment %}

                    <div class="user_block_content">
                        {% include 'user/profile_block.html' with content=block_content %}
                    </div>
                </div>

            </div>

        </section>

    </article>

{% endblock %}