{% extends '_base.html' %}

{% load static %}

{% block content %}

    <div class="auction-details">
        <div class="auction-detail-data">
            
            <div class="auction-comment-item">

                <div class="user-avatar">
                    <img width="48px" height="48px" src="https://ui-avatars.com/api/?background=0D8ABC&color=fff" alt="">
                </div>

                <div class="comment-content">
                    <div class="comment-user-title">
                        <h3 class="font-medium text-siyah-15 uppercase mr-4">Mahir Tekin Erdensan</h3>
                        <span class="font-light text-beyaz-20 text-sm">25 dec 2021</span>
                    </div>

                    <div class="comment-comment">
                        <p class="text-light font-light text-siyah-10">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, assumenda quam dicta cum sed recusandae numquam suscipit. Nisi, vitae. Suscipit maxime culpa vero, dolorem dicta nam voluptas dolorum impedit a?
                        </p>
                    </div>

                    <div class="comment-bottom flex flex-row justify-between">
                        <div class="comment-keyword-list">
                            <span class="font-light text-beyaz-20 text-sm">#kırmızı</span>
                            <span class="font-light text-beyaz-20 text-sm">#mavi</span>
                            <span class="font-light text-beyaz-20 text-sm">#siyah</span>
                        </div>

                        <div class="report-comment">
                            <a href="#" class="font-light text-beyaz-20 text-sm">
                                <i class="fas fa-flag"></i>
                            </a>
                        </div>
                    </div>

                    
                </div>

            </div>

        </div>
    </div>

{% endblock %}